doctype
html
    head
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/bower_components/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        base(href="/")
    body(ng-app='app')
        block main-content
        include scripts