script(type="text/javascript", src="/bower_components/jquery/dist/jquery.js")
script(type="text/javascript", src="/bower_components/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/bower_components/angular/angular.js")
script(type="text/javascript", src="/bower_components/toastr/toastr.js")
script(type="text/javascript", src="/bower_components/angular-resource/angular-resource.js")
script(type="text/javascript", src="/bower_components/angular-route/angular-route.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/account/user.js")
script(type="text/javascript", src="/app/main/mainController.js")
script(type="text/javascript", src="/app/account/loginController.js")
script(type="text/javascript", src="/app/common/notifier.js")
script(type="text/javascript", src="/app/account/identity.js")
script(type="text/javascript", src="/app/account/authService.js")
script(type="text/javascript", src="/app/admin/userListController.js")


